@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --darkBlue: #02021f;
    --lightBlue: #93b3d8;
    --shadow: #8D8080;
    --white: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darkBlue);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: 80%;
}

.return {
    position: absolute;
    top: 1vh;
    left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-shadow: 0 5px 5px var(--lightBlue);
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 5px;
    font-size: 14px !important;
}

.return > img {
    width: 45%;
    height: 45%;
    margin-bottom: 15px;
}

h1 {
    color: var(--white);
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 0 5px 5px var(--lightBlue)
}

.book {
    width: 80vw;
    height: 60vh;
    display: flex;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 5px 5px var(--lightBlue);
    padding: 15px;
}

.btnsDiv {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4vh !important;
	width: 70%;
}

.btn {
    padding: 1vh;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 5px var(--lightBlue);
    text-shadow: 0px 4px 5px var(--shadow);
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    background-color: white;
}

.btn:hover {
    padding: 1vh 3vw;
    transition: 0.5s;
}

.btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
    transition: 0.5;
}

a {
	color: black;
	text-decoration: none;
}

a:active {
	color: inherit;
}

@media screen and (min-width: 600px){
    .return {
        top: 2vh;
        left: 1vw;
        padding: 10px;
    }
    
    .return > img {
        width: 60%;
        height: 60%;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 4vw !important;
        margin-bottom: 2vh;
    }

    .book {
        width: 70%;
        height: 80% !important;
    }

	.btnsDiv {
		margin-top:3%;
		height: 6vh !important;
	}
	

    .btn {
        width: 20%;
    }

    .btn:hover {
        padding: 1vw;
    }
}