<%- include("./partials/header.ejs") %>

<body>
    <main>
        <a href="/library" class="return">
            <img src="./resources/leftArrow.png" alt="Arrow">
            <p>Return</p>
        </a>
        <h1>"Title"</h1>
        <div></div>
        <button class="btn">Delete</button>
    </main>
</body>
</html>