<!DOCTYPE html>
<%- include('./partials/header.ejs') %>
<html lang="en">
<body>
    <main>
        <a href="/login"><Button>Login</Button></a>
        <a href="/sign-up"><button>Sign Up</button></a>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>