<%- include("./partials/header.ejs") %>

<body>
    <div id="tsParticles"></div>
    <main>
        <div class="title">
            <h1>Manage your library!</h1>
        </div>
        <div class="mainDiv">
            <a href="/sign-up"><button>Create an Account</button></a>
            <img src="/resources/book.svg" alt="Book">
            <a href="/sign-in"><button>Enter your account</button></a>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2.3.2/tsparticles.bundle.min.js"></script>
    <script src="/javaScript/particles.js"></script>
</body>
</html>