<%- include("./partials/header.ejs") %>

<body>
    <main>
        <div class="header">
            <a href="/home" class="return">
                <img src="./resources/leftArrow.png" alt="Arrow">
                <p>Log Out</p>
            </a>
            <div class="titleHeader">
                <h1>"user's" Library</h1>
                <img src="./resources/book.svg" alt="Book">
            </div>
            <div class="inf">
                <div class="search">
                    <img src="./resources/search.svg" alt="search">
                    <input type="search" name="search" id="search" placeholder="Which book are you looking for?">
                </div>
                <a href="/new-book" class="newBook">
                    <p>New Book</p>
                    <img src="./resources/plus.svg" alt="Plus sign">
                </a>
            </div>
        </div>
        <div class="container">
            <h2>All Books</h2>
            <a href="/book" class="book">
                <p class="title">Title</p>
                <p class="text">Lorem ipsum dolor sit amet</p>
            </a>
        </div>
    </main>
</body>
</html>