<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <main>
        <form action="/authentication" method="GET">
            <fieldset>
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="password" required>
            </fieldset>
            <input type="submit" name="" id="" value="Login">
        </form>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>