<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <main>
        <form action="/newUser" method="POST">
            <fieldset>
                <label for="firstName">First name</label>
                <input type="text" name="firstName" required>
            </fieldset>
            <fieldset>
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" required>
            </fieldset>
            <fieldset>
                <label for="">Email</label>
                <input type="email" name="email" required>
            </fieldset>
            <fieldset>
                <label for="">Password</label>
                <input type="password" name="password" required>
            </fieldset>
            <fieldset>
                <label for="">Rewrite your password</label>
                <input type="password" required>
            </fieldset>
            <fieldset>
                <label for="">Your birth</label>
                <input type="date" name="birth">
            </fieldset>
            <input type="submit" name="" id="" value="Sign Up">
        </form>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>