<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <main>
        <a href=""><Button>Logout</Button></a>
        <a href=""><button>Delete user</button></a>
        <a href=""><button>Show user data</button></a>
        <a href=""><button>Update user data</button></a>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>