<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <main>
        <a href="/logout"><Button>Logout</Button></a>
        <a href="/deleteUser"><button>Delete user</button></a>
        <a href="/userDetails"><button>Show user data</button></a>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>